<form class="banner">
  <div class="form-item">
    <label>First name: </label>
    <input type="text" name="FirstName :" value="" #F_NAME>
  </div>
  <div class="form-item">
    <label>Last name: </label>
    <input type="text" name="LastName :" value="" #L_NAME>
  </div>
  <div class="form-item">
    <button class="buttonSym" type="click" (click)="insertEmployee(F_NAME.value, L_NAME.value)">Submit</button>
  </div>
</form>
<table class="table-show">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
  </tr>
  <tr *ngFor="let employee of employeeData;let ind = index;">
    <td>{{employee.firstName}}</td>
    <td>{{employee.lastName}}</td>
    <td>
      <button class="buttonSym" (click)="openForm(employee, ind)">Update</button>
    </td>
    <td>
      <button class="buttonSym" (click)="deleteEmployee(employee._id)">Delete</button>
    </td>
  </tr>
</table>

<div class="black-model" *ngIf="showForm">
  <div class="central-form">
    <div class="close-model" (click)="closeForm()">x</div>
    <h3 class="model-title">Update Employee</h3>
    <div class="form-item">
      <input type="text" [(ngModel)]="editEmployeeData.emp.firstName">
    </div>
    <div class="form-item">
      <input type="text" [(ngModel)]="editEmployeeData.emp.lastName">
    </div>
    <div class="form-item">
      <button class="buttonSym" (click)="updateEmployee()">Update</button>
    </div>
  </div>
</div>
